.u-section-1 .u-sheet-1 {
  min-height: 588px;
}

.u-section-1 .u-product-1 {
  min-height: 468px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 9px 0;
}

.u-section-1 .u-gallery-1 {
  width: 568px;
  height: 450px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-1 .u-gallery-inner-1 {
  grid-template-columns: repeat(2, auto);
  grid-gap: 10px;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-text-1 {
  margin: -429px auto 0 624px;
}

.u-section-1 .u-product-price-1 {
  margin: 30px auto 0 624px;
}

.u-section-1 .u-text-2 {
  margin: 30px 30px 0 624px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px auto 0 624px;
  padding: 10px 76px 10px 75px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 610px;
  }

  .u-section-1 .u-product-1 {
    min-height: 490px;
    height: auto;
  }

  .u-section-1 .u-gallery-1 {
    width: 425px;
    height: 210px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -210px;
    margin-left: 485px;
  }

  .u-section-1 .u-product-price-1 {
    margin-left: 485px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 0;
    margin-left: 485px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 485px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 975px;
  }

  .u-section-1 .u-product-1 {
    min-height: 855px;
  }

  .u-section-1 .u-gallery-1 {
    width: 660px;
    height: 327px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 31px;
    margin-left: 0;
  }

  .u-section-1 .u-product-price-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
    padding-left: 104px;
    padding-right: 104px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-product-1 {
    min-height: 490px;
  }

  .u-section-1 .u-gallery-1 {
    width: 520px;
    height: 1031px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-product-1 {
    min-height: 664px;
  }

  .u-section-1 .u-gallery-1 {
    width: 340px;
    height: 634px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-2 {
    margin-right: auto;
  }
}