.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-form-1 {
  height: 316px;
  width: 600px;
  margin: 60px auto;
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
}