{% extends 'rango/base.html' %}
{% load staticfiles %}



    {% block title_block %}
    About Rango
    {% endblock %}

   
    {% block body_block %}
    <h1>Rango says...</h1>
    <p>here is the about page.</p>
    <br />
            <strong>{{ boldmessage }}Euan</strong><br />
            
            
       
            <img src="{% static "images/rango.jpg" %}" alt="Picture of Rango" />

             <img src="{{ MEDIA_URL }}cat.jpg" alt="Picture of a Cat" />
             <p>Visits: {{ visits }}</p>
            
            
    {% endblock %}
    

