<!DOCTYPE html>
{% load staticfiles %} 
{% load store_template_tags %}

<html>
    <head lang="en">
        <meta charset="UTF-8" />
        <title>Pets R Us -
            {% block title_block %} 
            Store
            {% endblock %}
        </title>
    </head>
    <body>
        <div>
            {% block body_block %} 
                No content
            {% endblock %}
        </div>
        <hr />
        <div>
            {% block sidebar_block %} 
                Categories
                {% get_category_list category %} 
            {% endblock %}
        </div>
        <hr />
        <div>
            <ul>
                <a href="{% url 'store:home' %}">Home</a><br />
                <a href="{% url 'store:about' %}">About</a><br />
                <a href="{% url 'store:contact' %}">Contact</a><br />
                <hr />
                {% if user.is_authenticated %} 
                    <a href="{% url 'auth_logout' %}?next={% url 'store:home' %}">Logout</a><br />
                    <a href="{% url 'auth_password_change' %}">Change Password</a><br />
                {% else %}
                    <a href="{% url 'registration_register' %}">Register</a><br />
                    <a href="{% url 'auth_login' %}">Login</a><br />
                {% endif %}
                <img src="{% static 'images/cat.jpg' %}" alt="Picture of a cat" /> 
            </ul>
        </div>
    </body>
</html>