{% extends 'store/base.html' %}
{% load staticfiles %}

{% block title_block %}Cart{% endblock %}
{% block og_title %}Cart{% endblock %}
{% block CSS_block %}
<link rel="stylesheet" href={% static 'css/Cart.css' %} media="screen">{% endblock %}
{% block body_block %}
<section class="u-clearfix u-section-1" id="sec-62d5">
  <div class="u-clearfix u-sheet u-sheet-1">
    <div class="u-cart-products-table u-table u-table-responsive u-table-1">
      {%if user.is_authenticated%}
        {%if cart%}
          <table class="u-table-entity">
            <colgroup>
              <col width="60%">
              <col width="38%">
              <col width="2%">
            </colgroup>
            <thead class="u-table-header">
              <tr style="height: 46px;">
                <th class="u-border-1 u-border-grey-dark-1 u-table-cell">Product </th>
                <th class="u-border-1 u-border-grey-dark-1 u-table-cell">Price </th>
                <th class="u-border-1 u-border-grey-dark-1 u-table-cell">Quantity </th>
              </tr>
            </thead>
            <tbody class="u-table-body">
              {%for item in cart%}
              <tr id="{{item.product.uid}}" style="height: 235px;">
                <td class="u-border-1 u-border-grey-dark-1 u-table-cell"><span
                    class="u-cart-remove-item u-icon u-icon-1" data-user="{{user.id}}" data-productid="{{item.product.uid}}"><svg class="u-svg-content" viewBox="0 0 52 52" x="0px"
                      y="0px" style="width: 1em; height: 1em;">
                      <g>
                        <path d="M26,0C11.664,0,0,11.663,0,26s11.664,26,26,26s26-11.663,26-26S40.336,0,26,0z M26,50C12.767,50,2,39.233,2,26
        S12.767,2,26,2s24,10.767,24,24S39.233,50,26,50z"></path>
                        <path d="M35.707,16.293c-0.391-0.391-1.023-0.391-1.414,0L26,24.586l-8.293-8.293c-0.391-0.391-1.023-0.391-1.414,0
        s-0.391,1.023,0,1.414L24.586,26l-8.293,8.293c-0.391,0.391-0.391,1.023,0,1.414C16.488,35.902,16.744,36,17,36
        s0.512-0.098,0.707-0.293L26,27.414l8.293,8.293C34.488,35.902,34.744,36,35,36s0.512-0.098,0.707-0.293
        c0.391-0.391,0.391-1.023,0-1.414L27.414,26l8.293-8.293C36.098,17.316,36.098,16.684,35.707,16.293z"></path>
                      </g>
                    </svg><img></span>
                  {% with 'images/'|add:item.product.name|add:'.png' as image %}
                    <img class="u-cart-product-image u-image u-image-default u-product-control" src="{% static image %}"/>
                  {% endwith %}
                  <h2 class="u-cart-product-title u-product-control u-text u-text-1">
                    <a class="u-product-title-link" href="#">{{item.product.name}}</a>
                  </h2>
                </td>
                <td class="u-border-1 u-border-grey-dark-1 u-table-cell">
                  <div class="u-cart-product-price u-product-control u-product-price">
                    <div class="u-price-wrapper">
                      <div class="u-hide-price u-old-price"></div>
                      <div class="u-price">{{item.product.price}}</div>
                    </div>
                  </div>
                </td>
                <td class="u-border-1 u-border-grey-dark-1 u-table-cell">
                  <div class="u-cart-product-quantity u-product-control u-product-quantity u-product-quantity-1">
                    <div class="u-hidden u-quantity-label"> Quantity </div>
                    <div class="u-border-1 u-border-grey-25 u-quantity-input">
                      <a class="disabled minus u-button-style u-hidden u-quantity-button">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                          <path d="m 4 8 h 8" fill="none" stroke="currentColor" stroke-width="1" fill-rule="evenodd">
                          </path>
                        </svg>
                      </a>
                      <input class="quantity_store u-border-grey-30 u-input" type="text" data-productprice="{{item.product.price}}" data-productid="{{ item.product.uid }}" value="{{item.quantity}}" pattern="[0-9]+">
                      <a class="plus u-button-style u-hidden u-quantity-button">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                          <path d="m 4 8 h 8 M 8 4 v 8" fill="none" stroke="currentColor" stroke-width="1"
                            fill-rule="evenodd"></path>
                        </svg>
                      </a>
                    </div>
                  </div>
                </td>
              </tr>
              {%endfor%}
            </tbody>
          </table>
          {%endif%}
        {%endif%}

    </div>
    <br></br>
    <a href="Home.html" data-page-id="1596118079"
      class="u-active-none u-btn u-button-style u-hover-none u-none u-text-hover-palette-1-base u-btn-2"><span
        class="u-file-icon u-icon"><img src="images/271220.png" alt=""></span>&nbsp;Continue Shopping
    </a>
    <p id="total_cost" value="{{total}}" class="u-text u-text-default u-text-4">Total: $250.00</p>

    <div>
      </br>
      <strong id="Order"></strong>
      {% if user.is_authenticated %}
      <button id="order_btn" data-user="{{ user.id }}"
        class="u-btn u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-btn-3" type="button">
        Place Order
      </button>
      {% else %}
      Please login/register to view cart
      {% endif %}
      </br>
    </div>
  </div>
</section>
<script>
  function round(value, decimals) {
    return Number(Math.round(value+'e'+decimals)+'e-'+decimals);
  }
  function Load() {
    var total = 0
    $('.quantity_store').each(function(i, obj) {
        total += parseFloat($(obj).attr('data-productprice')*parseInt($(obj).val()));
    });
    $('#total_cost').attr('value', round(total,2));
    $('#total_cost').text("Total: £" + round(total,2));
  }
  
  window.onload = function() {
    Load();
  };
</script>
{% endblock %}