{% extends 'store/base.html' %}
{% load staticfiles %}
{% block title_block %}Category{% endblock %}
{% block og_title %}Category{% endblock %}
{% block CSS_block %}<link rel="stylesheet" href={% static 'css/Home.css' %} media="screen">{% endblock %}


{% block body_block %}
<section class="u-align-center u-clearfix u-section-2" id="sec-cfc7" style="color: #EDF5E1">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h2 class="u-text u-text-1">Pet {{ category.name }}</h2>
      <!--products-->
      <div class="u-expanded-width u-pagination-center u-products u-products-1">
        <div class="u-repeater u-repeater-1">
          {% for product in product_pages %}
          <!--product_item-->
          <div class="u-align-center u-container-style u-products-item u-repeater-item">
            <div class="u-container-layout u-similar-container u-valign-bottom-sm u-container-layout-1">
              <!--product_image-->
               <img alt="" class="u-expanded-width u-image u-image-default u-product-control u-image-1"
              {% with 'images/'|add:product.name|add:'.png' as image %}
              <img src="{% static image %}"/>
                {% endwith %}
              <!--/product_image-->
              <div class="u-align-center u-container-style u-grey-10 u-group u-group-1">
                <div class="u-container-layout u-valign-middle u-container-layout-2">
                  <!--product_title-->
                  <h4 class="u-product-control u-text u-text-3">
                    <a class="u-product-title-link" href="/store/product/{{ product.slug }}">
                      <!--product_title_content-->{{ product.name }}
                      <!--/product_title_content--></a>
                  </h4>
                  <!--/product_title-->
                  <!--product_price-->
                  <div class="u-product-control u-product-price u-product-price-1">
                    <div class="u-price-wrapper u-spacing-10">
                      <!--product_old_price-->
                      <div class="u-hide-price u-old-price">
                        <!--product_old_price_content-->$20.00
                        <!--/product_old_price_content-->
                      </div>
                      <!--/product_old_price-->
                      <!--product_regular_price-->
                      <div class="u-price u-text-palette-2-base" style="font-size: 1.25rem; font-weight: 700;">
                        <!--product_regular_price_content-->${{ product.price }}
                        <!--/product_regular_price_content-->
                      </div>
                      <!--/product_regular_price-->
                    </div>
                  </div>
                  <!--/product_price-->
                </div>
              </div>
              <div class="u-product-control u-product-desc u-text u-text-4">
                 <!--product_content_content-->
                 <p class="u-price u-text-palette-2-base" style="font-size: 1.25rem; font-weight: 700;" >
                   <!--product_regular_price_content-->{{ product.description }}
                 <!--/product_content_content-->
                 </p>
                 <!--/product_content_content-->
               </div>
               <!--/product_content-->
              </div>
            </div>
          {% endfor %}
          </div>
        </div>

        <div class="u-list-control">
          <!--products_pagination-->
          <!--products_pagination_options_json-->
          <!--{"ul":"style=\"\" class=\"responsive-style1 u-custom-font u-font-montserrat u-pagination u-unstyled\"","li":"style=\"\" class=\"u-nav-item u-pagination-item\"","link":"style=\"padding: 16px 28px;\" class=\"u-button-style u-nav-link\""}-->
          <!--/products_pagination_options_json-->
           <ul class="responsive-style1 u-custom-font u-font-montserrat u-pagination u-unstyled">
            {% if product_pages.has_previous %}
            <li class=" u-nav-item u-pagination-item">
              <a class="u-button-style u-nav-link" href="?page={{ product.previous_page_number }}" style="padding: 16px 28px;">〈</a>
            </li>
            {% else %}
            <li class="disabled prev u-nav-item u-pagination-item">
               <a class="u-button-style u-nav-link" href="#" style="padding: 16px 28px;">〈</a>
            </li>
            {% endif %}

            {% for number in product_pages.paginator.page_range %}
              {% if product_pages.number == number %}
                <li class="active u-nav-item u-pagination-item">
                  <a class="u-button-style u-nav-link colorfont" href="?page={{ number }}" style="padding: 16px 28px; color:black;">{{ number }}</a>
                </li>
              {% elif number > product_pages.number|add:'-3' and number < product_pages.number|add:'3' %}
                <li class="active u-nav-item u-pagination-item">
                  <a class="u-button-style u-nav-link" href="?page={{ number }}" style="padding: 16px 28px;">{{ number }}</a>
                </li>
              {% endif %}
            {% endfor %}

            {% if product_pages.has_next %}
              <li class="next u-nav-item u-pagination-item">
                <a class="u-button-style u-nav-link" href="?page={{ product_pages.next_page_number }}" style="padding: 16px 28px;">〉</a>
              </li>
            {% else %}
              <li class="disabled next u-nav-item u-pagination-item">
                <a class="u-button-style u-nav-link" href="#" style="padding: 16px 28px;">〉</a>
              </li>
            {% endif %}
           </ul>
          <!--/products_pagination-->
        </div>
      </div>
      <!--/products-->
    </div>
  </section>
{% endblock %}