{% extends 'store/base.html' %} 
{% load staticfiles %} 

{% block title_block %}Contact{% endblock %}
{% block og_title %}Contact{% endblock %}
{% block CSS_block %}<link rel="stylesheet" href={% static 'css/Contact.css' %} media="screen">{% endblock %}

{% block body_block %} 
<section class="u-align-center u-clearfix u-section-1" id="sec-7db5">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-clearfix u-expanded-width u-gutter-10 u-layout-wrap u-layout-wrap-1">
        <div class="u-gutter-0 u-layout">
          <div class="u-layout-row">
            <div class="u-size-30">
              <div class="u-layout-col">
                <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1">
                  <div class="u-container-layout u-container-layout-1">
                    <h2 class="u-text u-text-1">Pet R US</h2>
                    <p class="u-text u-text-2">Somewhere in Glasgow</p>
                    <p class="u-text u-text-3">Fake phone number here</p>
                    <p class="u-text u-text-4">Some email here</p>
                  </div>
                </div>
                <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-2">
                  <div class="u-container-layout u-valign-top u-container-layout-2">
                    <div class="u-form u-form-1">
                      <form action="#" method="POST" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form"
                        style="padding: 10px" source="email" name="form-5">
                        <div class="u-form-group u-form-name u-label-none u-form-group-1">
                          <label for="name-5359" class="u-label">Name</label>
                          <input type="text" placeholder="Name" id="name-5359" name="name"
                            class="u-border-1 u-border-grey-30 u-input u-input-rectangle" required="">
                        </div>
                        <div class="u-form-email u-form-group u-label-none u-form-group-2">
                          <label for="email-5359" class="u-label">Email</label>
                          <input type="email" placeholder="Email" id="email-5359" name="email"
                            class="u-border-1 u-border-grey-30 u-input u-input-rectangle" required="">
                        </div>
                        <div class="u-form-group u-form-message u-label-none u-form-group-3">
                          <label for="message-5359" class="u-label">Address</label>
                          <textarea placeholder="Address" rows="4" cols="50" id="message-5359" name="message"
                            class="u-border-1 u-border-grey-30 u-input u-input-rectangle" required=""></textarea>
                        </div>
                        <div class="u-form-group u-form-submit u-form-group-4">
                          <a href="#" class="u-btn u-btn-submit u-button-style">Submit</a>
                          <input type="submit" value="submit" class="u-form-control-hidden">
                        </div>
                        <div class="u-form-send-message u-form-send-success">Thank you! Your message has been sent.
                        </div>
                        <div class="u-form-send-error u-form-send-message">Unable to send your message. Please fix
                          errors then try again.</div>
                        <input type="hidden" value="" name="recaptchaResponse">
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-size-30">
              <div class="u-layout-col">
                <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-60 u-layout-cell-3">
                  <div class="u-container-layout u-container-layout-3">
                    <div class="u-expanded u-grey-light-2 u-map">
                      <div class="embed-responsive">
                        <iframe class="embed-responsive-item"
                          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d71661.32709945385!2d-4.302497593462612!3d55.85544031424559!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x488815562056ceeb%3A0x71e683b805ef511e!2sGlasgow!5e0!3m2!1sen!2suk!4v1648011419648!5m2!1sen!2suk"
                          data-map="JTdCJTIycG9zaXRpb25UeXBlJTIyJTNBJTIybWFwLWVtYmVkJTIyJTJDJTIyYWRkcmVzcyUyMiUzQSUyMk1hbmhhdHRhbiUyQyUyME5ldyUyMFlvcmslMjIlMkMlMjJ6b29tJTIyJTNBMTAlMkMlMjJ0eXBlSWQlMjIlM0ElMjJyb2FkJTIyJTJDJTIybGFuZyUyMiUzQSUyMiUyMiUyQyUyMmFwaUtleSUyMiUzQSUyMkdsYXNnb3clMjIlMkMlMjJlbWJlZCUyMiUzQSUyMmh0dHBzJTNBJTJGJTJGd3d3Lmdvb2dsZS5jb20lMkZtYXBzJTJGZW1iZWQlM0ZwYiUzRCExbTE4ITFtMTIhMW0zITFkNzE2NjEuMzI3MDk5NDUzODUhMmQtNC4zMDI0OTc1OTM0NjI2MTIhM2Q1NS44NTU0NDAzMTQyNDU1OSEybTMhMWYwITJmMCEzZjAhM20yITFpMTAyNCEyaTc2OCE0ZjEzLjEhM20zITFtMiExczB4NDg4ODE1NTYyMDU2Y2VlYiUyNTNBMHg3MWU2ODNiODA1ZWY1MTFlITJzR2xhc2dvdyE1ZTAhM20yITFzZW4hMnN1ayE0djE2NDgwMTE0MTk2NDghNW0yITFzZW4hMnN1ayUyMiU3RA=="></iframe>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}