{% extends 'store/base.html' %} 
{% load staticfiles %} 

{% block title_block %}Home{% endblock %}
{% block og_title %}Home{% endblock %}
{% block CSS_block %}<link rel="stylesheet" href={% static 'css/Home.css' %} media="screen">{% endblock %}
{% block body_block %}
<section class="skrollable u-align-center u-clearfix u-section-1" id="sec-be0d">
    <div class="u-align-left u-clearfix u-sheet u-valign-middle u-sheet-1">
      <div class="u-expanded-width u-list u-list-1">
        <div class="u-repeater u-repeater-1">
          <div class="u-align-center u-container-style u-custom-item u-list-item u-repeater-item u-shape-rectangle">
            <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-1">
              <p class="u-custom-font u-custom-item u-font-montserrat u-text u-text-default u-text-1">
                <a class="u-active-none u-btn u-button-link u-button-style u-custom-font u-hover-none u-none u-btn-1"
                  href="https://localhost/category"><span class="u-file-icon u-icon u-icon-1"><img
                      src="{% static 'images/6164302.png' %}" alt=""></span>&nbsp;​Cat
                </a>
              </p>
            </div>
          </div>
          <div class="u-align-center u-container-style u-custom-item u-list-item u-repeater-item u-shape-rectangle">
            <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-2">
              <p class="u-custom-font u-custom-item u-font-montserrat u-text u-text-default u-text-2">
                <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-custom-font u-hover-none u-none u-text-body-alt-color u-btn-2"
                  href="https://localhost/category2"><span class="u-file-icon u-icon u-icon-2"><img
                      src="{% static 'images/2965100.png' %}" alt=""></span>&nbsp;<span class="u-text-body-color">Dog</span>
                </a>
              </p>
            </div>
          </div>
          <div class="u-align-center u-container-style u-custom-item u-list-item u-repeater-item u-shape-rectangle">
            <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-3">
              <p class="u-custom-font u-custom-item u-font-montserrat u-text u-text-default u-text-3"><span
                  class="u-file-icon u-icon u-icon-3"><img src="{% static 'images/6164302.png' %}" alt=""></span>&nbsp;​Cat
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="u-align-center u-clearfix u-section-2" id="sec-cfc7">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h2 class="u-text u-text-1">Popular Products</h2>
      <p class="u-text u-text-default u-text-2">Sample text. Click to select the text box. Click again or double click
        to start editing the text.</p>
      <!--products-->
      <!--products_options_json-->
      <!--{"type":"products-category","source":"Dog Products","tags":"","count":""}-->
      <!--/products_options_json-->
      <div class="u-expanded-width u-pagination-center u-products u-products-1">
        <div class="u-repeater u-repeater-1">
          {% for product in products %}
          <!--product_item-->
          <div class="u-align-center u-container-style u-products-item u-repeater-item">
            <div class="u-container-layout u-similar-container u-valign-bottom-sm u-container-layout-1">
              <!--product_image-->
              <img alt="" class="u-expanded-width u-image u-image-default u-product-control u-image-1"
                src="{% static 'images/5.svg' %}">
              <!--/product_image-->
              <div class="u-align-center u-container-style u-grey-10 u-group u-group-1">
                <div class="u-container-layout u-valign-middle u-container-layout-2">
                  <!--product_title-->
                  <h4 class="u-product-control u-text u-text-3">
                    <a class="u-product-title-link" href="/store/product/{{ product.slug }}">
                      <!--product_title_content-->{{ product.name }}
                      <!--/product_title_content--></a>
                  </h4>
                  <!--/product_title-->
                  <!--product_price-->
                  <div class="u-product-control u-product-price u-product-price-1">
                    <div class="u-price-wrapper u-spacing-10">
                      <!--product_old_price-->
                      <div class="u-hide-price u-old-price">
                        <!--product_old_price_content-->$20.00
                        <!--/product_old_price_content-->
                      </div>
                      <!--/product_old_price-->
                      <!--product_regular_price-->
                      <div class="u-price u-text-palette-2-base" style="font-size: 1.25rem; font-weight: 700;">
                        <!--product_regular_price_content-->${{ product.price }}
                        <!--/product_regular_price_content-->
                      </div>
                      <!--/product_regular_price-->
                    </div>
                  </div>
                  <!--/product_price-->
                </div>
              </div>
              <div class="u-product-control u-product-desc u-text u-text-4">
                 <!--product_content_content-->
                 <p>Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis
                   suscipit ultrices.</p>
                 <!--/product_content_content-->
               </div>
               <!--/product_content-->
              </div>
            </div>
          {% endfor %}
          </div>
        </div>

        <div class="u-list-control">
          <!--products_pagination-->
          <!--products_pagination_options_json-->
          <!--{"ul":"style=\"\" class=\"responsive-style1 u-custom-font u-font-montserrat u-pagination u-unstyled\"","li":"style=\"\" class=\"u-nav-item u-pagination-item\"","link":"style=\"padding: 16px 28px;\" class=\"u-button-style u-nav-link\""}-->
          <!--/products_pagination_options_json-->
          <ul class="responsive-style1 u-custom-font u-font-montserrat u-pagination u-unstyled">
            <li class="disabled prev u-nav-item u-pagination-item">
              <a class="u-button-style u-nav-link" href="#" style="padding: 16px 28px;">〈</a>
            </li>
            <li class="active u-nav-item u-pagination-item">
              <a class="u-button-style u-nav-link" href="#" style="padding: 16px 28px;">1</a>
            </li>
            <li class="u-nav-item u-pagination-item">
              <a class="u-button-style u-nav-link" href="#" style="padding: 16px 28px;">2</a>
            </li>
            <li class="u-nav-item u-pagination-item">
              <a class="u-button-style u-nav-link" href="#" style="padding: 16px 28px;">3</a>
            </li>
            <li class="u-nav-item u-pagination-item u-pagination-separator">
              <a class="u-button-style u-nav-link" href="#" style="padding: 16px 28px;">...</a>
            </li>
            <li class="u-nav-item u-pagination-item">
              <a class="u-button-style u-nav-link" href="#" style="padding: 16px 28px;">8</a>
            </li>
            <li class="next u-nav-item u-pagination-item">
              <a class="u-button-style u-nav-link" href="#" style="padding: 16px 28px;">〉</a>
            </li>
          </ul>
          <!--/products_pagination-->
        </div>
      </div>
      <!--/products-->
    </div>
  </section>
{% endblock %}