{% extends 'store/base.html' %} 
{% load staticfiles %} 

{% block title_block %}Product - {{product.name}}{% endblock %}
{% block og_title %}Product - {{product.name}}{% endblock %}
{% block CSS_block %}<link rel="stylesheet" href={% static 'css/Product.css' %} media="screen">{% endblock %}

{% block body_block %} 
<section class="u-align-center u-clearfix u-section-1" id="sec-a2b8">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <!--product-->
      <!--product_options_json-->
      <!--{"source":""}-->
      <!--/product_options_json-->
      <!--product_item-->
      <div class="u-container-style u-expanded-width u-product u-product-1">
        <div class="u-container-layout u-container-layout-1">
          <!--product_gallery-->
          <!--options_json-->
          <!--{"maxItems":""}-->
          <!--/options_json-->
          <div
            class="u-carousel u-gallery u-layout-carousel u-lightbox u-no-transition u-product-control u-show-text-none u-thumbnails-position-left u-gallery-1"
            id="carousel-35cc" data-interval="5000" data-u-ride="carousel">
            <ol class="u-absolute-hcenter u-carousel-indicators u-hidden u-carousel-indicators-1">
              <li data-u-target="#carousel-35cc" data-u-slide-to="0" class="u-active u-grey-70 u-shape-circle"
                style="width: 10px; height: 10px;"></li>
              <li data-u-target="#carousel-35cc" data-u-slide-to="1" class="u-grey-70 u-shape-circle"
                style="width: 10px; height: 10px;"></li>
              <li data-u-target="#carousel-35cc" data-u-slide-to="2" class="u-grey-70 u-shape-circle"
                style="width: 10px; height: 10px;"></li>
              <li data-u-target="#carousel-35cc" data-u-slide-to="3" class="u-grey-70 u-shape-circle"
                style="width: 10px; height: 10px;"></li>
              <li data-u-target="#carousel-35cc" data-u-slide-to="4" class="u-grey-70 u-shape-circle"
                style="width: 10px; height: 10px;"></li>
            </ol>
            <div class="u-carousel-inner u-gallery-inner u-gallery-inner-1" role="listbox">
              <!--product_gallery_item-->
              <div class="u-active u-carousel-item u-gallery-item u-carousel-item-1">
                <div class="u-back-slide">
                  <img class="u-back-image u-expanded" 
                  {% with 'images/'|add:product.name|add:'.png' as image %}
                    <img src="{% static image %}"/>
                {% endwith %}
                </div>
                <div class="u-over-slide u-over-slide-1">
                  <h3 class="u-gallery-heading">Sample Title</h3>
                  <p class="u-gallery-text">Sample Text</p>
                </div>
              </div>
              <!--/product_gallery_item-->
              <!--product_gallery_item-->
              <div class="u-carousel-item u-gallery-item u-carousel-item-2">
                <div class="u-back-slide">
                  <img class="u-back-image u-expanded"
                  {% with 'images/'|add:product.name|add:'.png' as image %}
                    <img src="{% static image %}"/>
                {% endwith %}
                </div>
                <div class="u-over-slide u-over-slide-2">
                  <h3 class="u-gallery-heading">{{ product.name }}</h3>
                  <p class="u-gallery-text">{{ product.description }}</p>
                </div>
              </div>
              <!--/product_gallery_item-->
            </div>
            <a class="u-absolute-vcenter u-carousel-control u-carousel-control-prev u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-carousel-control-1"
              href="#carousel-35cc" role="button" data-u-slide="prev">
              <span aria-hidden="true">
                <svg viewBox="0 0 451.847 451.847">
                  <path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path>
                </svg>
              </span>
              <span class="sr-only">
                <svg viewBox="0 0 451.847 451.847">
                  <path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path>
                </svg>
              </span>
            </a>
            <a class="u-absolute-vcenter u-carousel-control u-carousel-control-next u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-carousel-control-2"
              href="#carousel-35cc" role="button" data-u-slide="next">
              <span aria-hidden="true">
                <svg viewBox="0 0 451.846 451.847">
                  <path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path>
                </svg>
              </span>
              <span class="sr-only">
                <svg viewBox="0 0 451.846 451.847">
                  <path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path>
                </svg>
              </span>
            </a>
          </div>
          <!--/product_gallery-->
          <!--product_title-->
          <h2 class="u-product-control u-text u-text-default u-text-1">
            <a class="u-product-title-link" href="#">
              <!--product_title_content-->{{product.name}}
              <!--/product_title_content--></a>
          </h2>
          <!--/product_title-->
          <!--product_price-->
          <div class="u-product-control u-product-price u-product-price-1">
            <div class="u-price-wrapper u-spacing-10">
              <!--product_old_price-->
              <div class="u-price u-text-black" style="font-size: 1.875rem; font-weight: 700;">
                <!--product_regular_price_content-->£{{ product.price }}
                <!--/product_regular_price_content-->
              </div>
              <!--/product_old_price-->
              <!--/product_regular_price-->
            </div>
          </div>
          <!--/product_price-->
          <!--product_content-->
          <div class="u-custom-font u-font-montserrat u-product-control u-product-desc u-text u-text-2">
            <!--product_content_content-->
            <p>{{ product.description }}</p>
            <!--/product_content_content-->
          <!--/product_content-->
          <!--product_button-->
          <!--options_json-->
          <div>
            {% if user.is_authenticated %}
            <button id="add_btn"
                    data-productid="{{ product.uid }}"
                    data-user="{{ user.id }}"
                    class="u-active-black u-border-1 u-border-active-black u-border-black u-border-hover-black u-btn u-button-style u-hover-black u-none u-product-control u-text-active-white u-text-black u-text-hover-white u-btn-1"
                    type="button">
                    <strong id="add_to_cart">Add to Cart</strong>
                </button>
            {% else %} 
            <div>
                Please login/register to order this product
            </div>
            {% endif %}
            </div>
            </div>
          <!--/options_json-->
            <!--product_button_content-->
            <!--/product_button_content-->
            <!--product_button_content-->
            <div>
                {% if user.is_authenticated %}
                <button id="like_btn"
                        data-productid="{{ product.uid }}"
                        class="u-active-black u-border-1 u-border-active-black u-border-black u-border-hover-black u-btn u-button-style u-hover-black u-none u-product-control u-text-active-white u-text-black u-text-hover-white u-btn-1"
                        type="button">
                    Like Product
                    </button>
                {% endif %}
            </div>
            <!--/product_button_content-->
            
          <!--/product_button-->
        </div>
      </div>
      <!--/product_item-->
      <!--/product-->
      <h2>This product has <strong id="like_count">{{product.likes}}</strong> likes</h2>
    </div>
  </section>
  <!--
    <div>
        {% if product %} 
        <h1>{{ product.name }}</h1>
            <h2>Description</h2>
            {{ product.description }}
            <h2>Price</h2>
            £{{ product.price }} -->
            <!--product_item-->
            <!-- <div class="u-align-center u-container-style u-products-item u-repeater-item">
                <div class="u-container-layout u-similar-container u-valign-bottom-sm u-container-layout-1"> -->
                <!--product_image--> 
                <!-- <img height="60" width="60" alt="" class="u-expanded-width u-image u-image-default u-product-control u-image-1" 
                {% with 'images/'|add:product.name|add:'.png' as image %}
                <img src="{% static image %}"/>
                {% endwith %}
                </div>
            </div> -->
              <!--/product_image-->
        <!-- {% else %} 
        <strong>No production information avaliable</strong>
        {% endif %}
    </div>
</br>
<div>
    <strong id="add_to_cart"></strong>
    {% if user.is_authenticated %}
    <button id="add_btn"
            data-productid="{{ product.uid }}"
            data-user="{{ user.id }}"
            class="btn btn-primary btn-sm"
            type="button">
        <span data-feather="shopping-bag"></span>
        Add to Cart
        </button>
    {% else %} 
        Please login/register to order this product
    {% endif %}
</div>
</br>
</br>
<div>
    <strong id="like_count">{{ product.likes }}</strong> likes
    {% if user.is_authenticated %}
    <button id="like_btn"
            data-productid="{{ product.uid }}"
            class="btn btn-primary btn-sm"
            type="button">
        <span data-feather="thumbs-up"></span>
        Like Product
        </button>
    {% endif %}
</div> -->
    
{% endblock %}}