{% extends 'store/base.html' %} 
{% load staticfiles %} 

{% block title_block %} 
    Products 
{% endblock %} 

{% block body_block %} 
    <div>
        {% if product %} 
        <h1>{{ product.name }}</h1>
            <h2>Description</h2>
            {{ product.description }}
            <h2>Price</h2>
            £{{ product.price }}
            <h2>Likes</h2>
            {{ product.likes }}
        {% else %} 
        <strong>No production information avaliable</strong>
        {% endif %}
    </div>
{% endblock %}}