{% extends 'store/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Profile for {{ selected_user.username }}
{% endblock %}

{% block body_block %}
<div class="jumbotron p-4">
    <div class="container">
        <h1 class="jumbotron-heading">{{ selected_user.username }}'s Profile</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <img src="{{ MEDIA_URL }}{{ user_profile.picture }}"
            width="300"
            height="300"
            alt="{{ selected_user.username }}'s profile image" />
        <br />
        <div>
            {% if selected_user == user %}
            <form method="post" action="." enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}

                <input type="submit" value="Update" />
            </form>
            {% else %}
            <p>
                <strong>This is not you!</strong>
            </p>
            {% endif %}
        </br>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h2>Your Orders</h2>
                    <p class="card-text">
                    {% if orders %}
                    <ul class="list-group">
                    {% for order in orders %}
                    </br>
                        <li class="list-group-item">
                        <a class="nav-link" href="{% url 'store:show_product' order.product.slug %}">
                        <span data-feather="archive"></span> {{ order.product.name }}</a>
                        </li>
                        <div>
                        </br>
                            <strong id="Remove">{{ order.quantity }}</strong> x
                            {% if user.is_authenticated %}
                            <button id="remove_btn"
                                    data-productid="{{ order.product.uid }}"
                                    data-user="{{ order.user.id }}"
                                    class="btn btn-primary btn-sm"
                                    type="button">
                                <span data-feather="trash"></span>
                                Remove This Order
                                </button>
                            {% else %} 
                                Please login/register to order this product
                            {% endif %}
                        </br>
                        </div>
                    {% endfor %}
                    </ul>
                    {% else %}
                    <strong>There are no orders present.</strong>
                    {% endif %}
                    </p>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
</br>
{% endblock %}