{% extends 'store/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title_block %}
    Profile for {{ selected_user.username }}
{% endblock %}

{% block body_block %}
    <div class="jumbotron p-4">
        <div class="container">
            <h1 class="jumbotron-heading">{{ selected_user.username }}'s Profile</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <img src="{{ MEDIA_URL }}{{ user_profile.picture }}"
            width="300"
            height="300"
            alt="{{ selected_user.username }}'s profile image" />
        <br />
        <div>
            {% if selected_user == user %}
            <form method="post" action="." enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}

                <input class="button" type="submit" value="Update" />
            </form>
            {% else %}
            <p>
                <strong>This is not you!</strong>
            </p>
            {% endif %}
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h2>Your Orders</h2>
                    <p class="card-text">
                    <strong id="Removed"></strong>
                    {% if orders %}
                    <ul class="list-group">
                        {% for item in orders %}
                        </br>
                            <li class="list-group-item">
                            Order #{{ item.uid }}
                            <strong><a class="nav-link" href="{% url 'store:show_product' item.product.slug %}">
                            <span data-feather="archive"></span> {{ item.product.name }}</a></strong>
                            Quantity: {{ item.quantity }} </br>
                            Arriving: {{ item.arrival_time }}
                            </li>
                            </br>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <strong>There are no items present.</strong>
                    {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}