{% extends 'store/base.html' %}
{% load staticfiles %}
{% block title_block %}Search{% endblock %}
{% block og_title %}Search{% endblock %}
{% block CSS_block %}<link rel="stylesheet" href={% static 'css/Home.css' %} media="screen">{% endblock %}


{% block body_block %}
    {% include "store/icon.html" with categories=categories %}
    <h2>Search Results....</h2>
    <section class="u-align-center u-clearfix u-section-2" id="sec-cfc7">
    <div class="u-clearfix u-sheet u-sheet-1">
     {% if product_pages %}
        {% include "store/show_product.html" with product_pages=product_pages %}
    </div>
         {% else %}
         <h4>Not Found.</h4>
         {% endif %}

       {% include "store/pagination.html" with product_pages=product_pages %}
      </div>
      <!--/products-->
    </div>
  </section>
{% endblock %}