{% extends 'store/base.html' %}
{% load crispy_forms_tags %}
{% block title_block %}
    Register
{% endblock %}

{% block body_block %}
<div class="container">
    <ul class="progressbar">
        <li class="active">Register</li>
        <li>Create Your Profile</li>
        <li>Start Shopping</li>
    </ul>
</div>
<div>
    <h1>Register Here</h1>
    <hr>
</div>


<form method="post" action=".">
    {% csrf_token %}
    {{ form|crispy }}
    <hr>
    <input class="button" type="submit" value="Register"/>
</form>

<p>
    Already Have An Account?
    <a href="{% url 'auth_login' %}">Login</a>
</p>
{% endblock %}
